/* test2.css */
body {
    background-color: #a1cae8;
    color: #ffffff;
}

h1 {
    color: #ffffff;
    text-align: center;
    font: italic 200% fantasy;
}

p {
    background-color: #7d92be;
    color: #ffd800;
    text-align: right;
    border: 2px groove #ffffff;
}
