/* test2.css */
body {
    background-color: #a1cae8;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    background-color: #7d92be;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px groove #ffffff;
}

.MainList {
    color: #ffffff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MenuNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 100%
}

td, th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #4cff00;
}

.navbar {
    position: center;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

.navbar a{
    float: unset;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    width: 33.33%;
}

.navbar a:hover{
    background-color: #000000;
    color: white;
}

.navbar-centered a{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#navbar {
    width: 2000px;
    height: 60px;
    overflow-x: auto;
    overflow-y: hidden;
    background-color: #333;
}

#navbar a{
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

#navbar a:hover {
    background-color: #000000;
    color: black;
}

#childWrapper {
    list-style: none;
    width: 450px;
    height: 90px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#childWrapper > li {
    float: unset;
    width: 150px;
    height: 90px;
    background-color: red;
}

#childWrapper > li:nth-child(even) {
    background-color: blue;
}

.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}

.BasicList {
    color: #ffd800;
}

.footer {
    position: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #7d92be;
    color: white;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}