/* test2.css */
body {
    background-color: #a1cae8;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #ffffff;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    color: #ffffff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
    background-color: #7d92be;
    color: #ffffff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 2px groove #ffffff;
}

.MainList {
    color: #ffffff;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.MenuNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 100%
}

td, th {
    border: 1px solid #ffffff;
    text-align: center;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #4cff00;
}

.TopNav {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    background-color: #333;
}

.TopNav a{
    float: none;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    width: 33.33%;
}

.TopNav a:hover{
    background-color: #000000;
    color: black;
}

.TopNav-Centered a{
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Topnav {
    overflow: hidden;
    background-color: #333;
}

#Topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}

#TopNav a:hover {
    background-color: #000000;
    color: black;
}

.content{
    padding: 16px;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content{
    padding-top: 60px;
}

.BasicList {
    color: #ffd800;
}